/* Profile.css */
.w3-container {
    padding: 20px;
  }
  
  .w3-text-grey {
    color: #666;
  }
  
  .w3-light-grey {
    background-color: #f1f1f1;
  }
  
  .w3-teal {
    background-color: #009688 !important;
  }
  
  .w3-large {
    font-size: 18px;
  }
  